<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <span class="font-semibold text-primary text-4xl mr-3">Unmesh Joshi</span>
        </ng-template>
    </p-menubar>
</div>

<section class="mt-4">
    <div class="grid align-items-center">
        <img class="col-5 col-offset-1 avatar" src="assets/unmesh-avatar.png" />
        <span class="text-xl col-5 col-offset-1 vertical-align-middle">I have worked as a back-end software engineer in
            three countries and two programming languages. Currently, I am working in a scale-up, developing an AI-agent
            while pursuing a PhD at the Vrije University Amsterdam. When not working I enjoy some hobbies like Swimming,
            Writing, Organizing open mics, playing violin.</span>
    </div>
</section>
<section #work>
    <h2>Work</h2>
    <div class="grid">
        <div class="col-5 col-offset-1">
            <p-card header="Advanced Card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
            </p-card>
        </div>
        <div class="col-5 col-offset-1">
            <p-card header="Advanced Card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
            </p-card>
        </div>
        <div class="col-5 col-offset-1">
            <p-card header="Advanced Card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
            </p-card>
        </div>
        <div class="col-5 col-offset-1">
            <p-card header="Advanced Card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
            </p-card>
        </div>
    </div>

</section>
<section>
    <h2>Blog</h2>
    <div class="grid">
        <div class="col-5 col-offset-1">
            <p-card header="Advanced Card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
            </p-card>
        </div>
        <div class="col-5 col-offset-1">
            <p-card header="Advanced Card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
            </p-card>
        </div>
        <div class="col-5 col-offset-1">
            <p-card header="Advanced Card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
            </p-card>
        </div>
        <div class="col-5 col-offset-1">
            <p-card header="Advanced Card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
            </p-card>
        </div>
    </div>

</section>
<section>
    <h2>Podcast</h2>
    <div class="grid">
        <div class="col-5 col-offset-1">
            <p-card header="Advanced Card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
            </p-card>
        </div>
    </div>
</section>
<section id="contact">
    <h2>Contact</h2>
    <div class="grid">
        <div class="col-5 col-offset-1 grid">
            <div class="col-2 col-offset-1 mr-2 flex align-items-center">
                <p-avatar icon="pi pi-envelope" size="large" shape="circle" />
            </div>
            <div class="col-2 flex align-items-center">
                <a href="mailto:me@unme.sh" class="font-semibold text-primary text-xl">me&#64;unme.sh</a>
            </div>
        </div>
    </div>
</section>